/.idea
/.lein-repl-history
/.lein-failures
.nrepl-port
**/.lsp/.cache
.clj-kondo
!/.clj-kondo/config.edn
/out
target/
/eca
/classes
/.DS_Store
/.cpcache
/test.clj
.calva
/*.jar
eca.old
.clojure-mcp/

/.classpath
/.project
/.settings/
/reports

/.lh
output.calva-repl

result

# emacs
*~
