{:paths ["scripts"]
 :deps {borkdude/gh-release-artifact {:git/url "https://github.com/borkdude/gh-release-artifact"
                                      :git/sha "4a9a74f0e50e897c45df8cc70684360eb30fce80"}}
 :min-bb-version "0.8.156"
 :tasks {tag make/tag
         debug-cli make/debug-cli
         prod-jar make/prod-jar
         native-cli make/native-cli

         run-file make/run-file}}
